<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Doughnut</title>
  <meta name="description" content="">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../bower_components/highcharts/highcharts.js"></script>
  <script src="../bower_components/highcharts/highcharts-3d.js"></script>
  <script src="../bower_components/highcharts/modules/exporting.js"></script>
  <script src="../bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
  <script src="../bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  <script src="../bower_components/angularjs-slider/dist/rzslider.js"></script>
  <link rel="stylesheet" href="../bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body ng-controller="FishinstanceCtrl">
<highchart id="chart1" config="highchartsNG"></highchart>
<div class="row vertical-sliders centered">
  <div ng-show="showSlider" class="col-md-2">
    <rzslider rz-slider-model="verticalSlider1.value" rz-slider-options="verticalSlider1.options"></rzslider>
  </div>
</div>

</body>
</html>
