<!--doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Doughnut</title>
  <meta name="description" content="">


</head>
<body ng-controller="FishinstanceCtrl"-->
<div ng-controller="FishinstanceCtrl">
<highchart id="chart1" config="highchartsNG"></highchart>
<div class="row vertical-sliders centered">
  <div ng-show="showSlider" class="col-md-2">
    <rzslider rz-slider-model="verticalSlider1.value" rz-slider-options="verticalSlider1.options"></rzslider>
  </div>
</div>
</div>
<!--/body>
</html-->
